.block {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.05vw solid rgb(161, 161, 161);
  padding: 0;
  margin: 0;
}

.block:visited {
  background: green;
  animation: visiting 0.3s linear;
}

.block.wall {
  background: black;
}

.block.start {
}

@keyframes visiting {
  0% {
    transorm: scale(1);
  }
  50% {
    transform: scale(1.1);
    background: yellowgreen;
  }
  100% {
    transorm: scale(1);
    background: green;
  }
}
